<div class="container">
    <div class="content-top">
        <img src="src/assets/images/content-top.jpg" class="img-responsive">
    </div>
    <div class="content-middle">
        <div class="content-middle-title">
            <h1>JOB OPPORTUNITIES</h1>
        </div>
        <div class="content-middle-text">
            <div class="row">
                <div class="col-xs-12">
                    <div class="content-middle-text-paragraph">
                        <p>
                            Thank you for your interest in employment with The Rockin Crawfish. Please complete and
                            submit this online application. We look forward to meeting you.
                        </p>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="content-middle-text-paragraph job-custom panel1">
                        <uib-accordion close-others="oneAtATime">
                            <div uib-accordion-group class="panel-default" heading="Application Information"
                                 is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
                                <form class="form-custom">
                                    <div class="row">
                                        <div class="form-group col-xs-12">
                                            <label for="fullName" class="col-xs-2">Full Name:</label>
                                            <input type="text" class="col-xs-4" id="fullName"
                                                   placeholder="Last">
                                            <input type="text" class="col-xs-4" placeholder="First">
                                            <input type="text" class="col-xs-2" placeholder="M.I">
                                        </div>
                                        <div class="form-group col-xs-12">
                                            <label for="streetaddress" class="col-xs-2">Address</label>
                                            <input type="text" class="col-xs-10" id="streetaddress"
                                                   placeholder="Street Address">
                                            <input type="text" class="col-xs-4 col-xs-offset-2" placeholder="City"/>
                                            <input type="text" class="col-xs-4" placeholder="State"/>
                                            <input type="number" class="col-xs-2" placeholder="Zip Code"/>
                                        </div>
                                        <div class="form-group col-xs-12">
                                            <label for="email" class="col-xs-2">Email</label>
                                            <input type="email" class="col-xs-10" id="email" placeholder="Email">
                                        </div>
                                        <div class="form-group col-xs-12">
                                            <label for="phone" class="col-xs-2">Phone</label>
                                            <input type="number" class="col-xs-10" id="phone"
                                                   placeholder="Ex: 000-0000-0000">
                                        </div>
                                        <div class="form-group col-xs-12">
                                            <label class="col-xs-1">Date Available</label>
                                            <div class="col-xs-3">
                                            <span class="input-group">
                                                <input type="text" class="form-control" uib-datepicker-popup
                                                       ng-model="dt" is-open="popup2.opened"
                                                       datepicker-options="dateOptions" ng-required="true"
                                                       close-text="Close"/>
                                                <span class="input-group-btn"><button type="button"
                                                                                      class="btn btn-default"
                                                                                      ng-click="open2()"><i
                                                        class="glyphicon glyphicon-calendar"></i></button></span>
                                              </span>
                                            </div>
                                            <label class="col-xs-2">Are you over the age of 18?</label>
                                            <label class="radio-inline col-xs-1">
                                                <input type="radio" name="inlineRadioOptions" id="inlineCheckbox1"
                                                       value="option1"> yes
                                            </label>
                                            <label class="radio-inline col-xs-1">
                                                <input type="radio" name="inlineRadioOptions" id="inlineCheckbox2"
                                                       value="option2"> no
                                            </label>
                                            <label for="salary" class="col-xs-1">Desired Salary:</label>
                                            <input type="number" class="col-xs-2" id="salary"
                                                   placeholder="Desired Salary">
                                        </div>
                                        <div class="form-group col-xs-12">
                                            <label for="position" class="col-xs-2">Position Applied for:</label>
                                            <input type="number" class="col-xs-4" id="position">
                                            <label class="col-xs-2">Which Location::</label>
                                            <div class="col-xs-4">
                                                <div class="btn-group" uib-dropdown dropdown-append-to-body>
                                                    <button ng-if="locations.list.selected" type="button"
                                                            class="btn btn-select"
                                                            uib-dropdown-toggle>
                                                        {{locations.list.selected}}
                                                        <span class="glyphicon glyphicon-chevron-down"></span>
                                                    </button>

                                                    <button ng-if="!locations.list.selected" type="button"
                                                            class="btn btn-select"
                                                            uib-dropdown-toggle>
                                                        Location
                                                        <span class="glyphicon glyphicon-chevron-down"></span>
                                                    </button>
                                                    <ul class="dropdown-menu dropdown-btn-select" uib-dropdown-menu
                                                        role="menu"
                                                        aria-labelledby="btn-append-to-body" ng-scrollbars
                                                        ng-scrollbars-config="config">
                                                        <li ng-repeat="location in locations.list track by $index">
                                                            <a ng-click="locations.list.selected = location.name + ',' + location.region">{{location.name}},{{location.region}}</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group col-xs-12">
                                            <label class="col-xs-3">Are you a citizen of the United States?:</label>
                                            <label class="radio-inline col-xs-1">
                                                <input type="radio" name="inlineRadioOptions" id="inlineCheckbox3"
                                                       value="option3"> yes
                                            </label>
                                            <label class="radio-inline col-xs-1">
                                                <input type="radio" name="inlineRadioOptions" id="inlineCheckbox4"
                                                       value="option4"> no
                                            </label>
                                            <label class="col-xs-4">If no, are you authorized to work in the
                                                U.S.?</label>
                                            <label class="radio-inline col-xs-1">
                                                <input type="radio" name="inlineRadioOptions" id="inlineCheckbox5"
                                                       value="option5"> yes
                                            </label>
                                            <label class="radio-inline col-xs-1">
                                                <input type="radio" name="inlineRadioOptions" id="inlineCheckbox6"
                                                       value="option6"> no
                                            </label>
                                        </div>
                                        <div class="form-group col-xs-12">
                                            <label class="col-xs-3">Were you referred by someone?:</label>
                                            <label class="radio-inline col-xs-1">
                                                <input type="radio" name="inlineRadioOptions" id="inlineCheckbox7"
                                                       value="option7"> yes
                                            </label>
                                            <label class="radio-inline col-xs-1">
                                                <input type="radio" name="inlineRadioOptions" id="inlineCheckbox8"
                                                       value="option8"> no
                                            </label>
                                            <label class="col-xs-2" for="ifnot">If so, who?:</label>
                                            <input type="text" class="col-xs-4" id="ifnot"/>
                                        </div>
                                        <div class="form-group col-xs-12">
                                            <label class="col-xs-4">Have you ever been convicted of a felony?:</label>
                                            <label class="radio-inline col-xs-1">
                                                <input type="radio" name="inlineRadioOptions" id="inlineCheckbox9"
                                                       value="option9"> yes
                                            </label>
                                            <label class="radio-inline col-xs-1">
                                                <input type="radio" name="inlineRadioOptions" id="inlineCheckbox10"
                                                       value="option10"> no
                                            </label>
                                        </div>
                                        <div class="form-group col-xs-12">
                                            <label class="col-xs-2" for="explain">If yes, explain:</label>
                                            <input class="col-xs-10" type="text" id="explain">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </uib-accordion>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="content-middle-text-paragraph job-custom panel2">
                        <uib-accordion close-others="oneAtATime">
                            <div uib-accordion-group class="panel-default" heading="Education"
                                 is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
                                <form class="form-custom">
                                    <div class="row">
                                        <div class="form-group col-xs-12">
                                            <div class="col-xs-6">
                                                <label for="highschool">High School:</label>
                                                <input type="text" id="highschool">
                                            </div>

                                            <div class="col-xs-6">
                                                <label for="highschooladdress">Address:</label>
                                                <input type="text" id="highschooladdress">
                                            </div>
                                        </div>
                                        <div class="form-group col-xs-12">
                                            <div class="col-xs-6">
                                                <div class="row">
                                                    <div class="col-xs-6">
                                                        <label>From:</label>
                                                        <span class="input-group">
                                                            <input type="text" class="form-control" uib-datepicker-popup
                                                                   ng-model="dt" is-open="popup3.opened"
                                                                   datepicker-options="dateOptions" ng-required="true"
                                                                   close-text="Close"/>
                                                                <span class="input-group-btn"><button type="button"
                                                                                                      class="btn btn-default"
                                                                                                      ng-click="open3()">
                                                                    <i class="glyphicon glyphicon-calendar"></i></button></span>
                                                                </span>
                                                    </div>
                                                    <div class="col-xs-6">
                                                        <label>To:</label>
                                                        <span class="input-group">
                                                            <input type="text" class="form-control" uib-datepicker-popup
                                                                   ng-model="dt" is-open="popup4.opened"
                                                                   datepicker-options="dateOptions" ng-required="true"
                                                                   close-text="Close"/>
                                                                <span class="input-group-btn">
                                                                    <button type="button" class="btn btn-default"
                                                                            ng-click="open4()">
                                                                        <i class="glyphicon glyphicon-calendar"></i>
                                                                    </button>
                                                                    </span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-6">
                                                <label class="col-xs-3"> Did you graduate?: </label>
                                                <label class="radio-inline col-xs-1">
                                                    <input type="radio" name="inlineRadioOptions" id="inlineCheckbox11"
                                                           value="option11"> yes
                                                </label>
                                                <label class="radio-inline col-xs-1">
                                                    <input type="radio" name="inlineRadioOptions" id="inlineCheckbox12"
                                                           value="option12"> no
                                                </label>
                                                <label for="Degree" class="col-xs-2">Degree:</label>
                                                <input type="text" id="Degree" class="col-xs-3">
                                            </div>
                                        </div>
                                        <div class="form-group col-xs-12">
                                            <div class="col-xs-6">
                                                <label for="college">College:</label>
                                                <input type="text" id="college">
                                            </div>

                                            <div class="col-xs-6">
                                                <label for="collegeaddress">Address:</label>
                                                <input type="text" id="collegeaddress">
                                            </div>
                                        </div>
                                        <div class="form-group col-xs-12">
                                            <div class="col-xs-6">
                                                <div class="row">
                                                    <div class="col-xs-6">
                                                        <label>From:</label>
                                                        <span class="input-group">
                                                            <input type="text" class="form-control" uib-datepicker-popup
                                                                   ng-model="dt" is-open="popup3.opened"
                                                                   datepicker-options="dateOptions" ng-required="true"
                                                                   close-text="Close"/>
                                                                <span class="input-group-btn"><button type="button"
                                                                                                      class="btn btn-default"
                                                                                                      ng-click="open3()">
                                                                    <i class="glyphicon glyphicon-calendar"></i></button></span>
                                                                </span>
                                                    </div>
                                                    <div class="col-xs-6">
                                                        <label>To:</label>
                                                        <span class="input-group">
                                                            <input type="text" class="form-control" uib-datepicker-popup
                                                                   ng-model="dt" is-open="popup4.opened"
                                                                   datepicker-options="dateOptions" ng-required="true"
                                                                   close-text="Close"/>
                                                                <span class="input-group-btn">
                                                                    <button type="button" class="btn btn-default"
                                                                            ng-click="open4()">
                                                                        <i class="glyphicon glyphicon-calendar"></i>
                                                                    </button>
                                                                    </span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-6">
                                                <label class="col-xs-3"> Did you graduate?: </label>
                                                <label class="radio-inline col-xs-1">
                                                    <input type="radio" name="inlineRadioOptions" id="inlineCheckbox13"
                                                           value="option13"> yes
                                                </label>
                                                <label class="radio-inline col-xs-1">
                                                    <input type="radio" name="inlineRadioOptions" id="inlineCheckbox14"
                                                           value="option14"> no
                                                </label>
                                                <label for="Degree" class="col-xs-2">Degree:</label>
                                                <input type="text" class="col-xs-3">
                                            </div>
                                        </div>
                                        <div class="form-group col-xs-12">
                                            <div class="col-xs-6">
                                                <label for="other">Other:</label>
                                                <input type="text" id="other">
                                            </div>

                                            <div class="col-xs-6">
                                                <label for="otheraddress">Address:</label>
                                                <input type="text" id="otheraddress">
                                            </div>
                                        </div>
                                        <div class="form-group col-xs-12">
                                            <div class="col-xs-6">
                                                <div class="row">
                                                    <div class="col-xs-6">
                                                        <label>From:</label>
                                                        <span class="input-group">
                                                            <input type="text" class="form-control" uib-datepicker-popup
                                                                   ng-model="dt" is-open="popup3.opened"
                                                                   datepicker-options="dateOptions" ng-required="true"
                                                                   close-text="Close"/>
                                                                <span class="input-group-btn"><button type="button"
                                                                                                      class="btn btn-default"
                                                                                                      ng-click="open3()">
                                                                    <i class="glyphicon glyphicon-calendar"></i></button></span>
                                                                </span>
                                                    </div>
                                                    <div class="col-xs-6">
                                                        <label>To:</label>
                                                        <span class="input-group">
                                                            <input type="text" class="form-control" uib-datepicker-popup
                                                                   ng-model="dt" is-open="popup4.opened"
                                                                   datepicker-options="dateOptions" ng-required="true"
                                                                   close-text="Close"/>
                                                                <span class="input-group-btn">
                                                                    <button type="button" class="btn btn-default"
                                                                            ng-click="open4()">
                                                                        <i class="glyphicon glyphicon-calendar"></i>
                                                                    </button>
                                                                    </span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-6">
                                                <label class="col-xs-3"> Did you graduate?: </label>
                                                <label class="radio-inline col-xs-1">
                                                    <input type="radio" name="inlineRadioOptions" id="inlineCheckbox15"
                                                           value="option15"> yes
                                                </label>
                                                <label class="radio-inline col-xs-1">
                                                    <input type="radio" name="inlineRadioOptions" id="inlineCheckbox16"
                                                           value="option16"> no
                                                </label>
                                                <label for="Degree" class="col-xs-2">Degree:</label>
                                                <input type="text" class="col-xs-3">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </uib-accordion>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="content-middle-text-paragraph job-custom panel3">
                        <uib-accordion close-others="oneAtATime">
                            <div uib-accordion-group class="panel-default" heading="References"
                                 is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
                                <form class="form-custom">
                                    <div class="row">
                                        <div class="form-group col-xs-12">
                                            <div class="col-xs-6">
                                                <label for="fullnamereferences" class="col-xs-3">Full Name: </label>
                                                <input type="text" id="fullnamereferences" class="col-xs-8">
                                            </div>

                                            <div class="col-xs-6">
                                                <label for="relationship" class="col-xs-3">Relationship:</label>
                                                <input type="text" id="relationship" class="col-xs-8">
                                            </div>
                                        </div>
                                        <div class="form-group col-xs-12">
                                            <div class="col-xs-8">
                                                <label for="company" class="col-xs-3">Company:</label>
                                                <input type="text" id="company" class="col-xs-9">
                                            </div>

                                            <div class="col-xs-4">
                                                <label for="phone1" class="col-xs-3">Phone:</label>
                                                <input type="text" id="phone1" class="col-xs-8">
                                            </div>
                                        </div>
                                        <div class="form-group col-xs-12">
                                            <label for="addreferences" class="col-xs-2">Address:</label>
                                            <input type="text" class="col-xs-9" id="addreferences">
                                        </div>
                                        <div class="form-group col-xs-12">
                                            <div class="col-xs-6">
                                                <label for="fullnamereferences1" class="col-xs-3">Full Name: </label>
                                                <input type="text" id="fullnamereferences1" class="col-xs-8">
                                            </div>

                                            <div class="col-xs-6">
                                                <label for="relationship1" class="col-xs-3">Relationship:</label>
                                                <input type="text" id="relationship1" class="col-xs-8">
                                            </div>
                                        </div>
                                        <div class="form-group col-xs-12">
                                            <div class="col-xs-8">
                                                <label for="company1" class="col-xs-3">Company:</label>
                                                <input type="text" id="company1" class="col-xs-9">
                                            </div>

                                            <div class="col-xs-4">
                                                <label for="phone2" class="col-xs-3">Phone:</label>
                                                <input type="text" id="phone2" class="col-xs-8">
                                            </div>
                                        </div>
                                        <div class="form-group col-xs-12">
                                            <label for="addreferences1" class="col-xs-2">Address:</label>
                                            <input type="text" class="col-xs-9" id="addreferences1">
                                        </div>
                                        <div class="form-group col-xs-12">
                                            <div class="col-xs-6">
                                                <label for="fullnamereferences2" class="col-xs-3">Full Name: </label>
                                                <input type="text" id="fullnamereferences2" class="col-xs-8">
                                            </div>

                                            <div class="col-xs-6">
                                                <label for="relationship2" class="col-xs-3">Relationship:</label>
                                                <input type="text" id="relationship2" class="col-xs-8">
                                            </div>
                                        </div>
                                        <div class="form-group col-xs-12">
                                            <div class="col-xs-8">
                                                <label for="company2" class="col-xs-3">Company:</label>
                                                <input type="text" id="company2" class="col-xs-9">
                                            </div>

                                            <div class="col-xs-4">
                                                <label for="phone3" class="col-xs-3">Phone:</label>
                                                <input type="text" id="phone3" class="col-xs-8">
                                            </div>
                                        </div>
                                        <div class="form-group col-xs-12">
                                            <label for="addreferences2" class="col-xs-2">Address:</label>
                                            <input type="text" class="col-xs-9" id="addreferences2">
                                        </div>
                                        <div class="form-group col-xs-12">
                                            <div class="col-xs-6">
                                                <label for="rreviouscompany" class="col-xs-3">Previous Company: </label>
                                                <input type="text" id="rreviouscompany" class="col-xs-8">
                                            </div>

                                            <div class="col-xs-6">
                                                <label for="phone4" class="col-xs-3">Phone:</label>
                                                <input type="text" id="phone4" class="col-xs-8">
                                            </div>
                                        </div>
                                        <div class="form-group col-xs-12">
                                            <div class="col-xs-8">
                                                <label for="addreferences3" class="col-xs-3">Address:</label>
                                                <input type="text" id="addreferences3" class="col-xs-9">
                                            </div>

                                            <div class="col-xs-4">
                                                <label for="supervisor" class="col-xs-3">Supervisor:</label>
                                                <input type="text" id="supervisor" class="col-xs-8">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </uib-accordion>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="content-middle-text-paragraph job-custom panel4">
                        <uib-accordion close-others="oneAtATime">
                            <div uib-accordion-group class="panel-default" heading="Previous Employment"
                                 is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
                                <form class="form-custom">
                                    <div class="row">
                                        <div class="form-group col-xs-12">
                                            <label for="jobtitle" class="col-xs-2">Job Title:</label>
                                            <input type="text" class="col-xs-2" id="jobtitle">
                                            <label for="startingsalary" class="col-xs-2">Starting Salary:</label>
                                            <input type="number" id="startingsalary" class="col-xs-2">
                                            <label for="endingsalary" class="col-xs-2">Ending Salary: </label>
                                            <input type="number" class="col-xs-2" id="endingsalary">
                                        </div>
                                        <div class="form-group col-xs-12">
                                            <label for="responsibilities" class="col-xs-2">Responsibilities:</label>
                                            <input type="text" class="col-xs-10" id="responsibilities">
                                        </div>
                                        <div class="form-group col-xs-12">
                                            <div class="col-xs-6">
                                                <div class="row">
                                                    <div class="col-xs-6">
                                                        <label>From:</label>
                                                        <span class="input-group">
                                                            <input type="text" class="form-control" uib-datepicker-popup
                                                                   ng-model="dt" is-open="popup3.opened"
                                                                   datepicker-options="dateOptions" ng-required="true"
                                                                   close-text="Close"/>
                                                                <span class="input-group-btn"><button type="button"
                                                                                                      class="btn btn-default"
                                                                                                      ng-click="open3()">
                                                                    <i class="glyphicon glyphicon-calendar"></i></button></span>
                                                                </span>
                                                    </div>
                                                    <div class="col-xs-6">
                                                        <label>To:</label>
                                                        <span class="input-group">
                                                            <input type="text" class="form-control" uib-datepicker-popup
                                                                   ng-model="dt" is-open="popup4.opened"
                                                                   datepicker-options="dateOptions" ng-required="true"
                                                                   close-text="Close"/>
                                                                <span class="input-group-btn">
                                                                    <button type="button" class="btn btn-default"
                                                                            ng-click="open4()">
                                                                        <i class="glyphicon glyphicon-calendar"></i>
                                                                    </button>
                                                                    </span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-6">
                                                <label for="reason" class="col-xs-2">Reason for Leaving:</label>
                                                <input type="text" class="col-xs-10" id="reason">
                                            </div>
                                        </div>

                                        <div class="form-group col-xs-12">
                                            <label class="col-xs-5">May we contact your previous employer for reference:</label>
                                            <label class="radio-inline col-xs-1">
                                                <input type="radio" name="inlineRadioOptions" id="inlineCheckbox17"
                                                       value="option17"> yes
                                            </label>
                                            <label class="radio-inline col-xs-1">
                                                <input type="radio" name="inlineRadioOptions" id="inlineCheckbox18"
                                                       value="option18"> no
                                            </label>
                                        </div>
                                        <div class="form-group col-xs-12">
                                            <div class="col-xs-7">
                                                <label class="col-xs-3">Company</label>
                                                <input type="text" class="col-xs-8">
                                            </div>

                                            <div class="col-xs-5">
                                                <label for="relationship" class="col-xs-3">Phone:</label>
                                                <input type="tel" class="col-xs-8">
                                            </div>
                                        </div>
                                        <div class="form-group col-xs-12">
                                            <div class="col-xs-7">
                                                <label class="col-xs-3">Address</label>
                                                <input type="text" class="col-xs-8">
                                            </div>

                                            <div class="col-xs-5">
                                                <label for="relationship" class="col-xs-3">Supervisor:</label>
                                                <input type="text" class="col-xs-8">
                                            </div>
                                        </div>
                                        <div class="form-group col-xs-12">
                                            <label for="jobtitle1" class="col-xs-2">Job Title:</label>
                                            <input type="text" class="col-xs-2" id="jobtitle1">
                                            <label for="startingsalary1" class="col-xs-2">Starting Salary:</label>
                                            <input type="number" id="startingsalary1" class="col-xs-2">
                                            <label for="endingsalary1" class="col-xs-2">Ending Salary: </label>
                                            <input type="number" class="col-xs-2" id="endingsalary1">
                                        </div>
                                        <div class="form-group col-xs-12">
                                            <label for="responsibilities1" class="col-xs-2">Responsibilities:</label>
                                            <input type="text" class="col-xs-10" id="responsibilities1">
                                        </div>
                                        <div class="form-group col-xs-12">
                                            <div class="col-xs-6">
                                                <div class="row">
                                                    <div class="col-xs-6">
                                                        <label>From:</label>
                                                        <span class="input-group">
                                                            <input type="text" class="form-control" uib-datepicker-popup
                                                                   ng-model="dt" is-open="popup3.opened"
                                                                   datepicker-options="dateOptions" ng-required="true"
                                                                   close-text="Close"/>
                                                                <span class="input-group-btn"><button type="button"
                                                                                                      class="btn btn-default"
                                                                                                      ng-click="open3()">
                                                                    <i class="glyphicon glyphicon-calendar"></i></button></span>
                                                                </span>
                                                    </div>
                                                    <div class="col-xs-6">
                                                        <label>To:</label>
                                                        <span class="input-group">
                                                            <input type="text" class="form-control" uib-datepicker-popup
                                                                   ng-model="dt" is-open="popup4.opened"
                                                                   datepicker-options="dateOptions" ng-required="true"
                                                                   close-text="Close"/>
                                                                <span class="input-group-btn">
                                                                    <button type="button" class="btn btn-default"
                                                                            ng-click="open4()">
                                                                        <i class="glyphicon glyphicon-calendar"></i>
                                                                    </button>
                                                                    </span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-6">
                                                <label for="reason1" class="col-xs-2">Reason for Leaving:</label>
                                                <input type="text" class="col-xs-10" id="reason1">
                                            </div>
                                        </div>

                                        <div class="form-group col-xs-12">
                                            <label class="col-xs-5">May we contact your previous employer for reference:</label>
                                            <label class="radio-inline col-xs-1">
                                                <input type="radio" name="inlineRadioOptions" id="inlineCheckbox19"
                                                       value="option17"> yes
                                            </label>
                                            <label class="radio-inline col-xs-1">
                                                <input type="radio" name="inlineRadioOptions" id="inlineCheckbox20"
                                                       value="option18"> no
                                            </label>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </uib-accordion>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="content-middle-text-paragraph job-custom panel5">
                        <uib-accordion close-others="oneAtATime">
                            <div uib-accordion-group class="panel-default" heading="Military Service"
                                 is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
                                <form class="form-custom">
                                    <div class="row">
                                        <div class="form-group col-xs-12">
                                            <label for="branch" class="col-xs-2">Branch: </label>
                                            <input type="text" class="col-xs-2" id="branch">
                                            <label class="col-xs-1">From: </label>
                                            <input type="text" class="col-xs-2">
                                            <label class="col-xs-1">To: </label>
                                            <input type="text" class="col-xs-2">
                                        </div>
                                        <div class="form-group col-xs-12">
                                            <div class="col-xs-6">
                                                <label class="col-xs-3">Rank of Discharge: </label>
                                                <input type="text" class="col-xs-8">
                                            </div>
                                            <div class="col-xs-6">
                                                <label for="relationship" class="col-xs-3">Type of Discharge:</label>
                                                <input type="text" class="col-xs-8">
                                            </div>
                                        </div>
                                        <div class="form-group col-xs-12">
                                            <label for="reason" class="col-xs-4">If other than honorable, please explain?: </label>
                                            <input type="text" class="col-xs-8">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </uib-accordion>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="content-middle-text-paragraph">
                        <p>
                            I certify that my answers are true and complete to the best of my knowledge.
                            I authorize you to make such investigations and inquiries of my personal, employment, educational,
                            financial and other related matters as may be necessary for an employment decision.
                            I hereby release employers, schools or individuals from all liability when responding to inquiries in connection with my application.
                            In the event I am employed, I understand that false or misleading information giving in my application or interviews(s) may result in discharge.
                        </p>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="content-middle-text-paragraph job-button-fix">
                            <a type="button" class="btn-custom" ng-model="submitTape" uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
                                <img src="src/assets/images/submit-tape.png" class="img-responsive" ng-if="submitTape == 1">
                                <img src="src/assets/images/submit-tape-hover.png" class="img-responsive" ng-if="submitTape == 0">
                            </a>
                            <a type="button" class="btn-custom" ng-model="clearTape" uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
                                <img src="src/assets/images/clear-tape.png" class="img-responsive" ng-if="submitTape == 1">
                                <img src="src/assets/images/clear-tape-hover.png" class="img-responsive" ng-if="submitTape == 0">
                            </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>