<!--header and logo-->
<div class="header">
    <div class="container">
        <div class="top-wrapper"></div>
        <div class="top">
            <div class="logo">
                <img src="src/assets/images/logo.jpg" class="img-responsive"/>
            </div>
            <div class="tel-block">
                <ul>
                    <li ng-repeat="location in locationLists track by $index">
                        <span>{{location.name}} : {{location.tel}}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--! end header and logo-->

<!--silde and menu-->
<!--menu-->
<div class="menu-block">
    <div class="container">
        <div class="menu">
            <nav class="navbar navbar-default">
                <div>
                    <ul class="nav navbar-nav nav-custom">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#">Menu</a></li>
                        <li><a href="#">Locations</a></li>
                        <li><a href="#">Job Opportunities</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="slide">
            <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
                <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
                    <img ng-src="{{slide.image}}" style="margin:auto;">
                    <div class="carousel-caption">
                        <h4>Slide {{slide.id}}</h4>
                        <p>{{slide.text}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--! end menu-->
    <!--end slide menu-->
</div>
</div>
